{    
    "float_startip": "172.18.0.2",
    "float_endip": "172.18.255.254",
    "float_mask": "16",
    "int_gatewayip": "172.18.0.1",
    "float_extif": "eth0",
    "float_nexthop": "172.18.0.1",
    "ispingreqd": "on",
    "tenant_network_isolation": "on",
    "custom_install_name": "hpe-il-ez",
    "bdshared_global_bdprefix": "hpecp-",
    "bdshared_global_bddomain": "hpecplocal",
    "index_min": "",
    "index_max": "",
    "container_disks": "/dev/sdc",
    "container_disks": "/dev/sdd",
    "posix_client_type": "basic",
    "csrfmiddlewaretoken": "{{csrf[0]}}"
}